[submodule "cli"]
	path = cli
	url = git@github.com:zyin-c/zyinc-cli.git
[submodule "daemon"]
	path = daemon
	url = git@github.com:zyin-c/zyinc-daemon.git
[submodule "extras"]
	path = extras
	url = git@github.com:zyin-c/extras.git
